<!-- src/app/app.component.html -->
<div class="app">
  <header>
    <h1>{{ title }}</h1>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Ana Sayfa</a>
      <a routerLink="/books" routerLinkActive="active">Kitaplar</a>
      <a routerLink="/borrowings" routerLinkActive="active">Ödünçler</a>
      <a routerLink="/statistics" routerLinkActive="active">İstatistikler</a>
      <a routerLink="/profile" routerLinkActive="active">Profil</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet> <!-- Yönlendirme yapılan bileşenler burada görüntülenecek -->
  </main>
</div>
